div#invitation {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

div#invitation button {
    border-radius: 4px;
}

div#invitation input,
textarea {
    color: black;
    width: 22em;
}

div#invitation textarea {
    width: 22.3em;
    height: 6em;
}

div.invites table {
    min-width: 100%;
}

div.invites div .accepted,
div.invites div .open {
    margin-top: 1em;
    padding: .2em;
    border: 1px solid lightblue;
}

div.invites div.accepted {
    background-color: aliceblue;
}

div.invites div.open td.button-holder a {
    min-width: 5em;
    padding-left: .3em;
    padding-right: .3em;
}

div.invites h2 {
    margin-left: .3em;
    font-weight: bold;
}

div.create {
    margin-left: .1em;
    margin-bottom: 1em;
}

button#open-invitation-form {
    margin: 2.2em 1em 1em 1em;
}

div.create legend {
    margin-left: .2em;
    font-size: larger;
    font-weight: bold;
}

div#invitation-message {
    height: 2em;
    font-weight: bold;
}

div#invitation-message span.message {
    color: initial;
}

div#invitation-message span.error,
span.settings-error {
    font-weight: bold;
    color: red;
}

div.app-collaboration div.error a {
    color: darkblue !important;
}

input.settings-isp-endpoint,
input.settings-isp-name,
input.settings-add-isp {
    width: 30em;
}

div#invitation-add-remote-service-provider.hide {
    display: none;
}

ul#invitation-remote-service-providers span.icon-delete {
    cursor: pointer;
    position: absolute;
    right: 0em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

ul#invitation-remote-service-providers li {
    position: relative;
    width: 20em;
}

ul#invitation-remote-service-providers span.settings-error {
    position: absolute;
    left: 21em;
    width: 50em;
}

label[for="invitation-service-endpoint"],
label[for="invitation-service-name"] {
    display: inline-block;
    width: 5em;
    margin-right: 1em;
    text-align: right;
}

button#save-invitation-service-name {
    margin-left: 6em;
    margin-right: 1em;
}

span.invitation-service-settings-endpoint-success.fade-out,
span.invitation-service-settings-success.fade-out {
    font-weight: bold;
    transition: opacity 2s ease-in;
    opacity: 0;
}

input#allow-sharing-with-invited-users-only {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

li[data-id="invitation"] img.app-icon {
    max-height: 38px !important;
    max-width: 38px !important;
}

div#invitation-index-message {
    height: 2em;
    margin-top: .8em;
    padding-top: .5em;
    border-top: 1px solid lightgray;
    font-size: 1.2em;
}

div#invitation-index-message span.error {
    font-weight: bold;
    color: red;
}

div#invitation-message-accordion .ui-accordion-header {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    padding-right: 2em;
    width: fit-content;
}

div#invitation-message-accordion .ui-accordion-header span.ui-accordion-header-icon {
    left: unset;
    right: 0em;
}

div#invitation-message-accordion div.ui-accordion-content {
    border: none;
    background: none;
    padding-top: .2em;
}

div#invitation-message-accordion div.ui-accordion-content a {
    color: blue;
}

div.invitation-index table td.button-holder {
    width: 7em;
}

div.invitation-index table td:first-child {
    width: 10em;
    text-align: left;
    padding-left: 3em;
}

div.wayf {
    width: 28em;
    margin-top: 5em;
    margin-left: 8em;
}

div.wayf-surf-logo {
    position: absolute;
    left: 1em;
    top: 1em;
}

div.wayf div.wayf-header {
    padding: 1em;
    padding-left: 0.3em;
    width: 35em;
}

div.wayf div.wayf-header h2 {
    color: darkslategray;
    font-weight: bolder;
    margin: 0;
}

div.wayf div.text {
    margin-left: .5em;
    margin-bottom: 2em;
}

div.wayf div.institutes {
    width: 40em;
    border-top: 1px solid gray;
}

div.wayf div.institute {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
}

div.wayf div.institute:hover {
    background-color: lightgray;
}

div.wayf div.institute-logo {
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    text-align: center;
    padding-right: .5em;
}

div.wayf div.invite-link {
    display: inline-block;
}

div.wayf div.institutes a {
    text-decoration: none;
    font-size: 1.1em;
    color: darkblue;
}

div.wayf div.institute-logo img {
    max-width: 8em;
    max-height: 2.5em;
}

div.app-collaboration>div.oc-dialog {
    width: 50%;
    z-index: 10000;
}

div.app-collaboration>div.oc-dialog h3.oc-dialog-title {
    font-size: larger;
}

div.app-collaboration>div.oc-dialog legend {
    font-weight: normal;
}

div.invitation-form input {
    width: 25em;
}

div.invitation-form textarea {
    width: 25.4em;
    height: 8em;
    margin-top: .2em;
}

div.invitation-form label {
    display: inline-block;
    width: 90%;
    text-align: right;
}

div.invitation-form div.invitation-form-button-row {
    border-top: 1px solid #e5e5e5;
    margin-top: .8em;
    padding-top: .7em;
}

div.app-collaboration div.oc-dialog {
    z-index: 900;
}

div.app-collaboration>div.oc-dialog-dim {
    z-index: 899;
}

div.app-collaboration>div.oc-dialog-dim.confirmation {
    z-index: 999;
}

div.oc-dialog {
    width: 30%;
}

div.oc-dialog div.oc-dialog-buttonrow {
    border-top: 1px solid lightgray;
    padding-top: .5em;
}