div#invitation {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

div#invitation button {
    border-radius: 4px;
}

div#invitation input,
textarea {
    color: black;
    width: 22em;
}

div#invitation textarea {
    width: 22.3em;
    height: 6em;
}

div.invites table {
    min-width: 100%;
}

div.invites div .accepted,
div.invites div .open {
    margin-top: 1em;
    padding: .2em;
    border: 1px solid lightblue;
}

div.invites div.accepted {
    background-color: aliceblue;
}

div.invites div.open td.button-holder a {
    width: 5em;
    padding-left: .3em;
    padding-right: .3em;
}

div.invites h2 {
    margin-left: .3em;
    font-weight: bold;
}

div.create {
    border-bottom: 1px solid lightgray;
    margin-left: .1em;
    margin-bottom: 1em;
}

div.create legend {
    margin-left: .2em;
    font-size: larger;
    font-weight: bold;
}

div#invitation-message {
    height: 2em;
    font-weight: bold;
}

div#invitation-message span.message {
    color: initial;
}

div#invitation-message span.error,
span.settings-error {
    font-weight: bold;
    color: red;
}

div.app-invitation div.error a {
    color: darkblue !important;
}

input.invitation-endpoint {
    width: 30em;
}

div#invitation-add-remote-service-provider.hide {
    display: none;
}

ul#invitation-remote-service-providers span.icon-delete {
    cursor: pointer;
    position: absolute;
    right: 0em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

ul#invitation-remote-service-providers li {
    position: relative;
    width: 20em;
}

ul#invitation-remote-service-providers span.settings-error {
    position: absolute;
    left: 21em;
    width: 50em;
}

span.invitation-service-settings-endpoint-success.fade-out {
    font-weight: bold;
    transition: opacity 2s ease-in;
    opacity: 0;
}

input#allow-sharing-with-invited-users-only {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

li[data-id="invitation"] img.app-icon {
    max-height: 38px !important;
    max-width: 38px !important;
}

div#invitation-message-accordion .ui-accordion-header {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    padding-right: 2em;
    width: fit-content;
}

div#invitation-message-accordion .ui-accordion-header span.ui-accordion-header-icon {
    left: unset;
    right: 0em;
}

div#invitation-message-accordion div.ui-accordion-content {
    border: none;
    background: none;
}

div#invitation-message-accordion div.ui-accordion-content a {
    color: blue;
}

div.invitation-index table td.button-holder {
    width: 7em;
}

div.invitation-index table td:first-child {
    width: 10em;
    text-align: left;
    padding-left: 3em;
}