div#invitation {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

div#invitation input,
textarea {
    color: black;
    width: 22em;
}

div#invitation textarea {
    width: 22.3em;
    height: 6em;
}

div.invites table {
    min-width: 100%;
}

div.invites div .accepted,
div.invites div .open {
    margin-top: 1em;
    padding: .2em;
    border: 1px solid lightblue;
}

div.invites div.accepted {
    background-color: aliceblue;
}

div.invites h2 {
    margin-left: .3em;
    font-weight: bold;
}

div.create {
    border-bottom: 1px solid lightgray;
    margin-left: .1em;
    margin-bottom: 1em;
}

div.create legend {
    margin-left: .2em;
    font-size: larger;
    font-weight: bold;
}

div.error {
    height: 2em;
    color: red;
    font-weight: bold;
}

div.app-invitation div.error a {
    color: darkblue !important;
}